## DataFrame with Longitude & Latitude:

In [12]:
column_names = ["PostalCode", "Borough", "Neighborhood"]
test_df_toronto = pd.DataFrame(columns=column_names)

In [13]:
test_list = ["M5G", "M2H", "M4B", "M1J", "M4G", "M4M", "M1R", "M9V", "M9L", "M5V", "M1B", "M5A"]

In [14]:
for postcode in test_list:
    test_df_toronto = test_df_toronto.append(grouped_df_toronto[grouped_df_toronto["PostalCode"]==postcode], ignore_index=True)
    
test_df_toronto

,PostalCode,Borough,Neighborhood
0,M5G,Downtown Toronto,Central Bay Street
1,M2H,North York,Hillcrest Village
2,M4B,East York,"Parkview Hill, Woodbine Gardens"
3,M1J,Scarborough,Scarborough Village
4,M4G,East York,Leaside
5,M4M,East Toronto,Studio District
6,M1R,Scarborough,"Wexford, Maryvale"
7,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest..."
8,M9L,North York,Humber Summit
9,M5V,Downtown Toronto,"CN Tower, King and Spadina, Railway Lands, Har..."
10,M1B,Scarborough,"Malvern, Rouge"
11,M5A,Downtown Toronto,"Regent Park, Harbourfront"

#### Number of Rows in the DF:

In [15]:
# print the number of rows of the cleaned dataframe
grouped_df_toronto.shape

(103, 3)

#### Getting Coordinates from the CSV File:

In [16]:
geo_coordinates = pd.read_csv ('Geospatial_Coordinates.csv')
geo_coordinates.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

#### Rename the "PostalCode" Column:

In [17]:
geo_coordinates.rename(columns={"Postal Code": "PostalCode"}, inplace=True)
geo_coordinates.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

#### Merge tables:

In [18]:
new_df_toronto = grouped_df_toronto.merge(geo_coordinates, on="PostalCode", how="left")
new_df_toronto.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476